Dear Dramasoc President,

The following enquiry has come through from the Dramasoc website.
<% if @add_me -%>
This person has indicated they would like to be on the mailing list.
<% end -%>
Please respond or delegate as appropriate.

Thanks,
The Dramasoc Interweb Robot

-----

NAME:  <%= @name %>
EMAIL: <%= @email %>

<% if @comments.blank? -%>
Please notify me about upcoming shows and events.
<% else -%>
COMMENTS:
<%= @comments %>
<% end -%>
