body {
  background: white;
  color: #444;
  margin: 0px;
  padding: 0px;
}

body, td, input, select, textarea {
  font: 13px/1.6 "Lucida Grande", "Lucida Sans", Helvetica, sans-serif;  
}

#navigation, h1, h2 {
  font-family: "Gill Sans Std", "Gill Sans MT", "Gill Sans", Helvetica, sans-serif;  
}

a, #body a {
  color: #ec008c;
  text-decoration: none;
}

a:hover, #body a:hover {
  border-bottom: 1px dotted #ec008c;  
}

body.home {
  background: #4c9cd0;
  color: white; 
}

body.home a {
  color: #f67fc5;
}

body.home a:hover {
  border-bottom-color: #f67fc5;  
}

#container {
  min-width: 880px;
}

#flash {
  margin-top: 16px;
  padding: 8px;
  background: #ffc;
  border: 1px solid #cc9;  
}

#header {
  background: #0072bc url(/images/header-background.png) repeat-x 0px 0px;
  color: white;
  height: 128px;
  overflow: hidden;
  position: relative;
}

#header #logo {
  position: relative;
  height: 128px;
  margin: 0px;
  padding: 0px;
  background: url(/images/header-montage.jpg) no-repeat 0px 0px;
}

#header #logo a {
  position: absolute;
  left: 120px;
  top: 32px;
  width: 376px;
  height: 88px;
  text-decoration: none;  
  margin: 0px;
  padding: 0px;
  background: url(/images/header-logo.png) no-repeat 0px 0px;
  text-indent: -1000em;
  overflow: hidden;
  border: none;
}

#header a {
  color: white;
  line-height: normal;
}

#navigation {
  background: black;
  color: white;
  font-size: 16px;
  margin: 0px;
  padding: 0px 64px 0px 128px;
  height: 1.8em;
}

#navigation #tabs {
  margin: 0px;
  padding: 0px;
}

#navigation .tab {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline;
}

#navigation .tab a {
  border-bottom: 0.3em solid black;
  padding: 0.5em 0px 0em;
  margin-right: 2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #666;
  line-height: 1em;
  display: block;
  float: left;
}

#navigation .tab.active a {
  color: white;
  border-bottom-color: white;  
}

#navigation .tab a:hover {
  color: #ec008c;
}

#body {
  background-color: white;
  color: #444;
}

body.home #body {
  padding-top: 16px;  
}

body.home #body #flash {
  margin-top: 0px;  
}

#homepage-panel {
  background: url(/images/homepage-panel-background.png) repeat-x 0px 0px;
  border-top: 1px solid white;
}

#body-inner,
#homepage-panel-inner {
  margin-left: 128px;
  width: 648px;
  padding-bottom: 32px;
}

.cleaner {
  clear: both;
  height: 0px;
  overflow: hidden;  
}

h2 {
  margin: 2ex 0px 0ex;
  font-size: 200%;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.2em;  
}

h3 {
  margin: 2ex 0px 0ex;  
}

p {
  margin: 0px 0px 2ex;
  padding: 0px;
}

#news-panel {}

#latest-news {
  float: left;
  width: 424px;  
}

#coming-events {
  float: right;
  width: 200px;
}

#coming-events h2 {
  font-size: 150%;
  margin-top: 2.66ex;
  padding-top: 0.66ex;
}

.event h3 {
  margin: 0px;  
}

.show-title {
  margin: 0px 0px 16px;
  color: #999;
}

.show-title h1 {
  font-size: 300%;
  font-weight: normal;
  color: #0072bc;
  margin: 2ex 0px 0px;
  line-height: normal;
}

#columns {}

#columns #main {
  float: left;
  width: 100%;
  margin-right: -224px;
}

#columns #main-inner {
  margin-right: 212px;
  padding-right: 11px;
  border-right: 1px dotted #ccc;
  padding-bottom: 16px;
}

#columns #sidebar {
  float: right;
  width: 200px;
}

#columns #sidebar-inner {
}

#sidebar h2 {
  font-size: 125%;
  margin: 0px 0px 1ex;
}

#sidebar .box {
  margin: 0px 0px 8px;  
}

.fieldset-tabs {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #999;
  height: 2em;
}

.fieldset-tabs li {
  display: inline;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#body .fieldset-tabs a {
  display: block;
  float: left;
  margin-right: 8px;
  line-height: 1em;
  padding: 0.5em 1em;
  color: #999;
  border: 1px solid #999;
  background: #eee;
}

#body .fieldset-tabs .active a {
  color: #444;
  border-bottom-color: white;
  background: white; 
}

fieldset.tabbed,
form.tabbed {
  display: block;
  clear: left;
  border: 1px solid #999;
  border-top: none;
  margin: 0px 0px 2ex;
  padding: 16px;
}

ol.form {
  margin: 0px 0px 2ex;
  padding: 0px;
  border-bottom: 1px dotted #ccc;  
}

ol.form li {
  display: block;
  list-style: none;
  margin: 0px;
  padding: 1ex 0px;
  border-top: 1px dotted #ccc;
}

ol.form li label {
  display: block;
  width: 144px;
  height: 1em;
  margin: 0px;
  padding: 0px;
}

ol.form li .field,
ol.form li input.text,
ol.form li select,
ol.form li textarea,
ol.form li ul.performances {
  display: block;
  margin: -1em 0px 0px 160px;
  width: 440px;  
}

ol.form li .field.subsequent {
  margin-top: 0.5ex;
}

ul.performances {
  padding: 0px;
}

ul.performances li {
  padding: 0px;
  border: none;
}

ol.form li .field .field,
ol.form li .field input.text,
ol.form li .field select,
ol.form li .field textarea {
  display: inline;
  margin: 0px;
  width: auto;
}

input.text:focus,
textarea:focus {
	background: #ffc;
}

#body ol.form li input.price {
  width: 4em;  
}

#venue_map {
  height: 256px;
  border: 1px solid #ccc;  
}

.venue-info h3 {
  margin: 0px;
  padding: 0px;
  font-size: 125%;
}

.venue-info address {
  display: block;
  font-style: normal;
  color: #999;
}

.role-list {
  margin: 0px 0px 2ex;
  padding: 0px;
  width: 424px;
}

.role-list .role {
  clear: both;
  display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;
  min-height: 1.6em;
  line-height: 1.6em;
}

.role-list .role .job {
  float: left;
  width: 200px;
  text-align: right;
  font-weight: bold;
}

.role-list .role .member {
  float: right;
  width: 200px;
  text-align: left;
}

.new-role-form input.text {
  width: 200px;
}