<h2>Help us out!</h2>
<p>If you have any information or photos from past shows, you can help improve this website by emailing <%= mail_to "archives@dramasoc.org", nil, :encode => "hex", :replace_at => " at ", :replace_dot => " dot " %>.</p>