<ul id="tabs">
  <% [ [ :home, "Home", "/dramasoc/" ], [ :shows, "Shows", "/shows/" ], [ :news, "News", "/news/" ], [ :about, "About Dramasoc", "/dramasoc/about/" ], [ :get_involved, "Get Involved!", "/dramasoc/get_involved/" ] ].each do |tab| -%>
    <li id="tab-<%= tab.first.to_s %>" class="tab<%= ' active' if @active_tab == tab.first %>"><%= link_to tab[1], tab[2] %></li>
  <% end -%>
</ul>