<h1>Editing News Post</h1>
<% form_for :post, @post, :url => news_path, :method => :post do |form| -%>
  <%= render :partial => "form", :object => form %>
  <%= submit_tag "Save Changes" %>
<% end -%>
