<h1>Editing News Post</h1>
<% form_for :post, @post, :url => post_path(@post), :method => :put do |form| -%>
  <%= render :partial => "form", :object => form %>
  <%= submit_tag "Save Changes" %>
<% end -%>
