<h1>News</h1>

<div id="columns">
  <div id="main">
    <div id="main-inner">
      <%= render :partial => 'post', :collection => @posts %>

      <%= will_paginate @posts %>
    </div>
  </div>
  <div id="sidebar">
    <div id="sidebar-inner">
      <% if logged_in? -%>
        <ul class="tasks">
          <li><%= link_to "New News Item", new_post_path, :class => "action new-news" %></li>
         </ul>
      <% end -%>
    </div>
  </div>
</div>
