<h1>New News is Good News</h1>
<% form_for :post, Post.new, :url => news_path, :method => :post do |form| -%>
  <%= render :partial => "form", :object => form %>
  <%= submit_tag "Post" %>
<% end -%>
