<% content_tag :div, :class => "post", :id => dom_id(@post) do -%>
  <%= content_tag :h1, @post.title unless @post.title.blank? %></h1>
  <%= content_tag :div, bc(@post.body), :class => "post-body" %>
  <%= content_tag :div, bc(@post.more), :class => "post-more" unless @post.more.blank? %>
  <%= render :partial => 'post_footer', :locals => { :post => @post } %>
<% end -%>