<h2>New Venue</h2>
<% form_remote_tag :url => venues_path, :method => :post do -%>
  <%= render :partial => "form" %>
<% end -%>
<p>
  <%= submit_tag "Save", :class => "button" %>
  <%= link_to_close_redbox "Cancel" %>
</p>