<% content_tag :li, :id => dom_id(attachment) do -%>
  <%= link_to_unless((defined?(link) and link == false), image_tag(attachment.photo.public_filename(:thumb)), photo_path(attachment.photo)) %>
<% end -%>