<% @page_title = "About Dramasoc" %>

<h1>About Dramasoc</h1>
<p>The University of Canterbury Drama Society Inc (Dramasoc) is a student performing arts club at the University of Canterbury, Christchurch, New Zealand.</p>
<p>The Canterbury University College Drama Society began in 1921 under the leadership of Professor Sir James Shelley. It enjoyed a reputation as one of New Zealand's leading theatre groups from the 1920s to the 1960s. The Society was most notably active in the 1942-1969 era under Dame Ngaio Marsh, with critically acclaimed productions (especially of Shakespeare plays) and a 1949 theatre tour of Australia.</p>
<p>The Society was wound up in the late 1980s due to financial difficulties but was resurrected by an ad hoc committee in October and November 1993, and restarted as a full student club in the beginning of 1994. Since 1994, it has had a regular and active membership numbering from dozens to hundreds (including both students and non-students as members), and has performed at least three productions each year. It is currently a significant presence in the small Christchurch theatre scene.</p>
<p>Its traditional home is the Ngaio Marsh Theatre at the University of Canterbury Students' Association, but as well as there the society regularly performs in the Association's Upper Common Room (also known as "Cloud 9"), most notably for its annual festival of student-authored one-act plays called 3some. The Society has also performed in outdoor theatre settings on campus, the University Theatre in the Christchurch Arts Centre, and in roving street theatre events.</p>
