<h1>Get Involved</h1>
<p>We're still working on getting this site up and running. If you have any material you'd like to contribute, please contact <%= mail_to "archives@dramasoc.org", nil, :encode => "hex", :replace_at => " at ", :replace_dot => " dot " %>.</p>
<p>For more information about what we do, please contact the current <%= mail_to "president@dramasoc.org", "Dramasoc President", :encode => "hex", :replace_at => " at ", :replace_dot => " dot " %>.</p>
<p>You might also like to check out <a href="http://www.facebook.com/group.php?gid=2625792094">Dramasoc on Facebook</a>, if that's your thing.</p>
