<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.w3.org/MarkUp/SCHEMA/xhtml11.xsd"
     xml:lang="en" >
  <head>
    <title><%= @page_title || "Dramasoc: The University of Canterbury Drama Society" %></title>
    <%= stylesheet_link_tag "application", "redbox" %>
    <%= javascript_include_tag :defaults, "redbox" %>
    <%= javascript_include_tag "http://maps.google.com/maps?file=api&amp;v=2&amp;key=#{Mapping.api_key(request.params['SERVER_NAME'])}" %>
  </head>
  <body<%= " class=\"#{@active_tab.to_s}\"" unless !@active_tab %>>
    <div id="container">
      <div id="header">
        <h2 id="logo"><%= link_to "Dramasoc", "/dramasoc/home/" %></h2>
      </div>
      <div id="navigation">
        <%= render :partial => 'shared/navigation' %>
      </div>
      <div id="body">
        <div id="body-inner">
          <%= content_tag(:div, flash[:notice], :id => "flash") if flash.any? %>
          <%= yield %>
          <div class="cleaner"></div>
        </div>
      </div>
      <%= yield :weird_layout %>
    </div>
    <div id="hidden_redbox_content" style="display: none;"></div>
  </body>
</html>